.parameters{
    flex:1;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.parameters_sector{
    background-color: rgba(247, 247, 248, 1);
    border-radius: 44px;
    color:rgba(58, 16, 120, 1);
    font-size: 30px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 15px;
}
.parameters_recommendation{
    flex:1;
}
.parameters_numbers{
    flex:4;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:20px;
    padding: 0;
}

.parameters h2{
    margin: 0 0 10px;
    font-size: 30px;
    color: var(--color-secondary);

}
