.forecast_week{
    display:flex;
    gap:20px;
    max-width: 690px;
    min-height: 170px;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
}
.forecast_week__1day{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 17%;
    min-width: 50px;
}
.forecast_week__weekday{
    font-size: 1.2rem;
}
.forecast_week__img{
    max-width: 100%;
}