.forecast{
    flex:1;
    display:flex;
    flex-direction: column;
    gap:20px;
    max-height: 890px;
}
.forecast_sector{
    background-color: rgba(247, 247, 248, 1);
    border-radius: 44px;
    color:var(--color-primary);
    font-weight: 600;
    box-sizing: border-box;
    padding: 15px;
}
.forecast_main{
    flex:5;
}
.forecast_day{
    flex:3;
}
.forecast_week{
    flex:3;
}