.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,690px));
    width: 100%;
    gap:20px;
    margin:20px 0;
    box-sizing: border-box;
    justify-content: center;
}