.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.header_add, .header_settings{
    background-color: transparent;
    border:none;
    padding: 0;

}
.header_add img, .header_settings img{
    width:2rem;
}
.header_location{
    font-size: clamp(1.26rem,4vw,1.73rem);
    margin:0;
    display: flex;
    align-items: center;
}