@import url('./assets/fonts/fonts.css');
html, body {
  height: 100%;
  font-size: 30px;
}
body{
  margin:0;
  min-height: 100vh;
  background-color: rgba(58, 16, 120, 1);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
#root {
  width: 100%;
}