@import url('./assets/fonts/fonts.css');
:root{
  --color-primary:rgba(58, 16, 120, 1);
  --color-secondary: rgba(78, 49, 170, 1);
}
html{
  font-size: clamp(20px,2vw,30px);
  height: 100%;
}
body{
  margin:0;
  min-height: 100vh;
  background-color: var(--color-primary);
  color:white;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
#root {
  width: 100%;
}